# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://olpplvdnhzsembzpvhhl.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9scHBsdmRuaHpzZW1ienB2aGhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY4NjY0MDQsImV4cCI6MjA3MjQ0MjQwNH0.O2iJwzHXwVuZ4-sWbmAGqwjlAQjqMu_ohF5Th2paVP0

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9scHBsdmRuaHpzZW1ienB2aGhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njg2NjQwNCwiZXhwIjoyMDcyNDQyNDA0fQ.UUIh3UBOrGLGCOqTyfzYVORoxmq8c0wnDGE9yn7DL-g

# Vercel Configuration (for GitHub Actions)

VERCEL_TOKEN=W91ySYtD0zskRExK6ET9i6oc

VERCEL_ORG_ID=N51crSgUNxULzbIrY513o41T

VERCEL_PROJECT_ID=prj_sKaU7mev3zbuKz2ff0JO04AMcsWk

# MailerSend Configuration

MAILERSEND_API_KEY=mlsn.8350e37d880eb8989cf4420557f3ba1ccd6d850bfb117464107b6747e829b7c6

MAILERSEND_FROM_EMAIL=no-reply@test-vz9dlem0yjq4kj50.mlsender.net

# App Configuration

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=hyybuu